body, html{
    height: 100%;
    margin: 0;
    font-size: 25px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
};



/*Header*/

.jtext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.sec1{
    text-align: center;
    padding: 50px 80px;   
   }
   
   .sec1-light{
     background-color: #f4f4f4;
     color: #666;  
   }

   .jtext .boarder{
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.search {
    display: flex;
    background-color:#666;
    height: 10%;
    align-items: center;
}

.locator  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 150%;
    
}

#userInput {
    padding-top: 5px;
    height: 30px;
    width: 300px;
    border-radius: 15px;
}

#searchBtn {
    width:100px;
    height: 30px;
    margin-left: 5px;
    border-radius: 15px;
}

#favoritesBtn {
    width: 100px;
    height: 30px;
    margin-left: 5px;
    border-radius: 15px;
}

.modal-card {
    background-color: #f4f4f4;
     height: 400px;
     width: 400px;
     display:flex;
}

.card-title {
    font-size: 30px;
    font-family: "lato", sans-serif;
}

.card-info {
    font-size: 15px;
    font-family: "lato", sans-serif;
}

.playMusicBtn {
    border-radius: 15px;
    float: left;
    margin-top: 365px;
    margin-left: 10px;
    
}

#saveHikeBtn {
    border-radius: 15px;
    float: right;
    margin-top: 365px;
    margin-left: 225px;
}

#map {
    height: 100%;
  }
  

