body, html{
    height: 100%;
    margin: 0;
    font-size: 25px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
};
.modal-card {
    background-color: #453ba1;
    height: 400px;
    width: 400px;
    display:flex;
};

#card {
    background-color: #453ba1;
     height: 400px;
     width: 400px;
     display:flex;
     
} 
.desert{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../Images/Desert.jpg');
    min-height: 100%;
}
.results{
    opacity: 0.70;
    padding:8px;
    
}

